<div class="login-page">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-xs-12 content">
              <div class="row margin-top10per margin-left-10">
                  <div class="col-md-12  col-sm-12 col-xs-12">
                      <div class="logo-sec"><img src="../../assets/dist/images/logo.png"></div>
                  </div>
                  
              </div>
              <!-- <div class="header-text">
                  <p>JOIN NOW & START EARNING</p>
              </div> -->
            
              
                  <p class="h5 text-center mb-4 header-text">JOIN NOW & START EARNING</p>
                
                  <!-- <app-sign-in></app-sign-in> -->
				  <form>
					<!-- End Login -->
                  <div class="sign-up" >
                  <div class="md-form">
                      <i class="fa fa-envelope prefix white-text"></i>
                      <input type="text" id="orangeForm-email" placeholder="We will send confirmation here" class="form-control" mdbActive>
                      <label for="orangeForm-email">Email*</label>
                  </div>
              
                  <div class="md-form">
                      <i class="fa fa-lock prefix white-text"></i>
                      <input type="password" id="orangeForm-pass" placeholder="Choose a good one" class="form-control" mdbActive>
                      <label for="orangeForm-pass">Password*</label>
                  </div>
              
                  <div class="md-form">
                      <i class="fa fa-lock prefix white-text"></i>
                      <input type="password" id="orangeForm-pass" placeholder="Is it still a good one?" class="form-control" mdbActive>
                      <label for="orangeForm-pass">Confirm Password*</label>
                  </div>
            
                  <fieldset>
                      <legend class="register">Register as*</legend>
                      <input class="radio-input" type="radio" id="user" name="test" value="yes" />
                        <label class="radio-label" for="user">User</label>
                        <input class="radio-input" type="radio" id="advert" name="test" value="yes" />
                        <label class="radio-label" for="advert">Advertiser</label>
                  
                </fieldset>

                <app-interests></app-interests>


                <div class="login-form">
						<!-- <app-interests></app-interests> -->
						<div class="btn-center">
								<button class="btn btn-deep-orange waves-light" mdbRippleRadius>Start Earning</button>
							</div>
							<div class="btn-center">
								<button class="btn btn-deep-orange waves-light" mdbRippleRadius>Login</button>
							</div>


                </div>
            </div>
                
              
              </form>
               
              <div class="terms-text" *ngIf="showLogin">
                  <p>By signing up you agree to our Terms & Conditions<br>
                  and Privacy to recieve emails and offers</p>
              </div>
              <hr>
              <div class="earn-extra-text">
                  <p>EARN EXTRA POINTS BY<br>
                  USING FACEBOOK</p>
              </div>
              <div class="facebook-btn">
                  <a class="btn btn-block btn-social btn-facebook"><span class="fa fa-facebook"></span> Start Earning with Facebook</a>
              </div>
             
              <div class="worry-text">
                  <p>Don’t worry, we won’t post anything without asking</p>
              </div>
            
              
              
            </div>

          </div>
        
      </div>

      
  </div>

  
</div>