.table-1 span {
	font-size: 14px;
	font-weight: bold;
	font-family: "Lato";
	color: rgb(26, 26, 26);
	line-height: 1.2;
}
.table tr th {
		font-size: 14px;
		font-family: "Lato";
		// color: rgb(109, 110, 113);
		line-height: 2;
		text-align: center;
		font-weight: bold;
	}

.table tbody tr th,td {
		font-size: 12px;
		
		font-family: "Lato";
		color: rgb(109, 110, 113);
		line-height: 2;
		text-align: center;
		font-weight: bold;
	}
.table .thead-dark th {
	background: #fb4d03!important;
}
.table thead {
	border-top: 1px solid #ddd;
}

.orange-color {
	color: #fb4d03 !important;
}

.table-responsive{
	background: #FFFFFF;
}
#stats-bar{

    display: block!important;
} 
.panel-heading .fa-facebook{
	color:#fff; 
	font-size: 14px; 
	background-color: #3B5999; 
	width: 25px; 
	height: 25px; 
	text-align: center; 
	padding-top: 8px; 
	border-radius: 25px;
}
.panel-heading .fa-twitter{
	color:#fff; 
	font-size: 14px; 
	background-color: #1DA1F3; 
	width: 25px; 
	height: 25px; 
	text-align: center; 
	padding-top: 8px; 
	border-radius: 25px;
}

.panel-heading .fa-user{
	color:#fff; 
	font-size: 14px; 
	background-color: #26C6DA; 
	width: 25px; 
	height: 25px; 
	text-align: center; 
	padding-top: 6px; 
	border-radius: 25px;
}
.panel-heading .fa-globe{
	color:#fff; 
	font-size: 14px; 
	background-color: #FF6D00; 
	width: 25px; 
	height: 25px; 
	text-align: center; 
	padding-top: 6px; 
	border-radius: 25px;
}
.panel-heading .fa-adn{
	color:#fff; 
	font-size: 14px; 
	background-color: black; 
	width: 25px; 
	height: 25px; 
	text-align: center; 
	padding-top: 6px; 
	border-radius: 25px;
}