<!-- Nav Tabs -->
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-12 col-xs-offset-0 padding-top10">
        <div class="top-boxes padding-top10">
          <img src="../../assets/dist/images/coins.png">
          <span id="text1">TOTAL CAMPAIGNS</span>
          <span class="number" id="text2">123</span>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-12 col-xs-offset-0 padding-top10">
        <div class="top-boxes padding-top10">
          <img src="../../assets/dist/images/coins-2.png">
          <span id="text1">TOTAL SPENT</span>
          <span class="number" id="text2">$456.78</span>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-12 col-xs-offset-0 padding-top10">
        <div class="top-boxes padding-top10">
          <img src="../../assets/dist/images/coins-3.png">
          <span id="text1">TOTAL REACH</span>
          <span class="number" id="text2">21,090</span>
        </div>
      </div>
    </div>
  </div>

  <mat-card >
      <mat-card-content class="tab-top" >
        <!-- <h2 class="example-h2">Tabs with text labels</h2> -->
        <mat-tab-group class="demo-tab-group" style="margin-top: 10px;">
          <mat-tab label="Facebook">
            <div class="demo-tab-content">
             
                  <div class="col-lg-12">
                      <div class="panel-heading table-1">
                          <img src="../../../../../assets/dist/images/fblogolarge.png"><span class="padding-left10">Facebook Engagement -</span> <span class="orange-color">48</span>
                      </div>
                      <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Status</th>	
                            <th scope="col">Daily Budget</th>	
                            <th scope="col">Results</th>
                            <th scope="col">Reach</th>	
                            <th scope="col">Spent</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Best Photographer</td>
                            <td><img src="../../../../../assets/dist/images/like.png"></td>
                            <td class="orange-color">Active</td>
                            <td>4500</td>
                            <td>900</td>
                            <td>900</td>
                            <td>900</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Best Photographer</td>
                            <td><img src="../../../../../assets/dist/images/like.png"></td>
                            <td class="orange-color">Active</td>
                            <td>4500</td>
                            <td>900</td>
                            <td>900</td>
                            <td>900</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Best Photographer</td>
                            <td><img src="../../../../../assets/dist/images/like.png"></td>
                            <td class="orange-color">Active</td>
                            <td>4500</td>
                            <td>900</td>
                            <td>900</td>
                            <td>900</td>
                          </tr>
                          <tr>
                              <th scope="row">4</th>
                              <td>Best Photographer</td>
                              <td><img src="../../../../../assets/dist/images/like.png"></td>
                              <td class="orange-color">Active</td>
                              <td>4500</td>
                              <td>900</td>
                              <td>900</td>
                              <td>900</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Best Photographer</td>
                                <td><img src="../../../../../assets/dist/images/like.png"></td>
                                <td class="orange-color">Active</td>
                                <td>4500</td>
                                <td>900</td>
                                <td>900</td>
                                <td>900</td>
                              </tr>
                              <tr>
                                  <th scope="row">6</th>
                                  <td>Best Photographer</td>
                                  <td><img src="../../../../../assets/dist/images/like.png"></td>
                                  <td class="orange-color">Active</td>
                                  <td>4500</td>
                                  <td>900</td>
                                  <td>900</td>
                                  <td>900</td>
                                </tr><tr>
                                    <th scope="row">7</th>
                                    <td>Best Photographer</td>
                                    <td><img src="../../../../../assets/dist/images/like.png"></td>
                                    <td class="orange-color">Active</td>
                                    <td>4500</td>
                                    <td>900</td>
                                    <td>900</td>
                                    <td>900</td>
                                  </tr>
                        </tbody>
                      </table>
                      
                      
                  

               
            
                    </div>        </div>

             
            </div>
          </mat-tab>
          <mat-tab label="Twitter">
            <div class="demo-tab-content">

                <div class="col-lg-12">
                    <div class="panel-heading table-1">
                        <img src="../../../../../assets/dist/images/fblogolarge.png"><span class="padding-left10">Twitter Engagement -</span> <span class="orange-color">32</span>
                    </div>
                    <div class="table-responsive">
                  <table class="table table-hover">
                      <thead class="">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Type</th>
                          <th scope="col">Status</th>	
                          <th scope="col">Daily Budget</th>	
                          <th scope="col">Results</th>
                          <th scope="col">Reach</th>	
                          <th scope="col">Spent</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Best Photographer</td>
                          <td><img src="../../../../../assets/dist/images/like.png"></td>
                          <td class="orange-color">Active</td>
                          <td>4500</td>
                          <td>900</td>
                          <td>900</td>
                          <td>900</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Best Photographer</td>
                          <td><img src="../../../../../assets/dist/images/like.png"></td>
                          <td class="orange-color">Active</td>
                          <td>4500</td>
                          <td>900</td>
                          <td>900</td>
                          <td>900</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Best Photographer</td>
                          <td><img src="../../../../../assets/dist/images/like.png"></td>
                          <td class="orange-color">Active</td>
                          <td>4500</td>
                          <td>900</td>
                          <td>900</td>
                          <td>900</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Best Photographer</td>
                            <td><img src="../../../../../assets/dist/images/like.png"></td>
                            <td class="orange-color">Active</td>
                            <td>4500</td>
                            <td>900</td>
                            <td>900</td>
                            <td>900</td>
                          </tr>
                          <tr>
                              <th scope="row">5</th>
                              <td>Best Photographer</td>
                              <td><img src="../../../../../assets/dist/images/like.png"></td>
                              <td class="orange-color">Active</td>
                              <td>4500</td>
                              <td>900</td>
                              <td>900</td>
                              <td>900</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Best Photographer</td>
                                <td><img src="../../../../../assets/dist/images/like.png"></td>
                                <td class="orange-color">Active</td>
                                <td>4500</td>
                                <td>900</td>
                                <td>900</td>
                                <td>900</td>
                              </tr><tr>
                                  <th scope="row">7</th>
                                  <td>Best Photographer</td>
                                  <td><img src="../../../../../assets/dist/images/like.png"></td>
                                  <td class="orange-color">Active</td>
                                  <td>4500</td>
                                  <td>900</td>
                                  <td>900</td>
                                  <td>900</td>
                                </tr>
                      </tbody>
                    </table>
                    
                    
                

             
          
                  </div>        </div>

              
              
             
            </div>  
          </mat-tab>
          <mat-tab label="Surveys">
              <div class="demo-tab-content">

                  <div class="col-lg-12">
                      <div class="panel-heading table-1">
                          <img src="../../../../../assets/dist/images/fblogolarge.png"><span class="padding-left10">Surveys Engagement -</span> <span class="orange-color">48</span>
                      </div>
                      <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Status</th>	
                            <th scope="col">Daily Budget</th>	
                            <th scope="col">Results</th>
                            <th scope="col">Reach</th>	
                            <th scope="col">Spent</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Best Photographer</td>
                            <td><img src="../../../../../assets/dist/images/like.png"></td>
                            <td class="orange-color">Active</td>
                            <td>4500</td>
                            <td>900</td>
                            <td>900</td>
                            <td>900</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Best Photographer</td>
                            <td><img src="../../../../../assets/dist/images/like.png"></td>
                            <td class="orange-color">Active</td>
                            <td>4500</td>
                            <td>900</td>
                            <td>900</td>
                            <td>900</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Best Photographer</td>
                            <td><img src="../../../../../assets/dist/images/like.png"></td>
                            <td class="orange-color">Active</td>
                            <td>4500</td>
                            <td>900</td>
                            <td>900</td>
                            <td>900</td>
                          </tr>
                          <tr>
                              <th scope="row">4</th>
                              <td>Best Photographer</td>
                              <td><img src="../../../../../assets/dist/images/like.png"></td>
                              <td class="orange-color">Active</td>
                              <td>4500</td>
                              <td>900</td>
                              <td>900</td>
                              <td>900</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Best Photographer</td>
                                <td><img src="../../../../../assets/dist/images/like.png"></td>
                                <td class="orange-color">Active</td>
                                <td>4500</td>
                                <td>900</td>
                                <td>900</td>
                                <td>900</td>
                              </tr>
                              <tr>
                                  <th scope="row">6</th>
                                  <td>Best Photographer</td>
                                  <td><img src="../../../../../assets/dist/images/like.png"></td>
                                  <td class="orange-color">Active</td>
                                  <td>4500</td>
                                  <td>900</td>
                                  <td>900</td>
                                  <td>900</td>
                                </tr><tr>
                                    <th scope="row">7</th>
                                    <td>Best Photographer</td>
                                    <td><img src="../../../../../assets/dist/images/like.png"></td>
                                    <td class="orange-color">Active</td>
                                    <td>4500</td>
                                    <td>900</td>
                                    <td>900</td>
                                    <td>900</td>
                                  </tr>
                        </tbody>
                      </table>
                      
                      
                  

               
            
                    </div>        </div>
  
          
               
              </div>
            </mat-tab>
            <mat-tab label="Websites">
                <div class="demo-tab-content">
    
                    <div class="col-lg-12">
                        <div class="panel-heading table-1">
                            <img src="../../../../../assets/dist/images/fblogolarge.png"><span class="padding-left10">Websites Engagement -</span> <span class="orange-color">48</span>
                        </div>
                        <div class="table-responsive">
                      <table class="table table-hover">
                          <thead class="">
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Name</th>
                              <th scope="col">Type</th>
                              <th scope="col">Status</th>	
                              <th scope="col">Daily Budget</th>	
                              <th scope="col">Results</th>
                              <th scope="col">Reach</th>	
                              <th scope="col">Spent</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>Best Photographer</td>
                              <td><img src="../../../../../assets/dist/images/like.png"></td>
                              <td class="orange-color">Active</td>
                              <td>4500</td>
                              <td>900</td>
                              <td>900</td>
                              <td>900</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Best Photographer</td>
                              <td><img src="../../../../../assets/dist/images/like.png"></td>
                              <td class="orange-color">Active</td>
                              <td>4500</td>
                              <td>900</td>
                              <td>900</td>
                              <td>900</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Best Photographer</td>
                              <td><img src="../../../../../assets/dist/images/like.png"></td>
                              <td class="orange-color">Active</td>
                              <td>4500</td>
                              <td>900</td>
                              <td>900</td>
                              <td>900</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Best Photographer</td>
                                <td><img src="../../../../../assets/dist/images/like.png"></td>
                                <td class="orange-color">Active</td>
                                <td>4500</td>
                                <td>900</td>
                                <td>900</td>
                                <td>900</td>
                              </tr>
                              <tr>
                                  <th scope="row">5</th>
                                  <td>Best Photographer</td>
                                  <td><img src="../../../../../assets/dist/images/like.png"></td>
                                  <td class="orange-color">Active</td>
                                  <td>4500</td>
                                  <td>900</td>
                                  <td>900</td>
                                  <td>900</td>
                                </tr>
                                <tr>
                                    <th scope="row">6</th>
                                    <td>Best Photographer</td>
                                    <td><img src="../../../../../assets/dist/images/like.png"></td>
                                    <td class="orange-color">Active</td>
                                    <td>4500</td>
                                    <td>900</td>
                                    <td>900</td>
                                    <td>900</td>
                                  </tr><tr>
                                      <th scope="row">7</th>
                                      <td>Best Photographer</td>
                                      <td><img src="../../../../../assets/dist/images/like.png"></td>
                                      <td class="orange-color">Active</td>
                                      <td>4500</td>
                                      <td>900</td>
                                      <td>900</td>
                                      <td>900</td>
                                    </tr>
                          </tbody>
                        </table>
                        
                        
                    
  
                 
              
                      </div>        </div>
                 
                </div>
              </mat-tab>
              <mat-tab label="Apps">
                  <div class="demo-tab-content">
      
                      <div class="col-lg-12">
                          <div class="panel-heading table-1">
                              <img src="../../../../../assets/dist/images/fblogolarge.png"><i class="fa fa-facebook"></i><span class="padding-left10">Apps Donwload Engagement -</span> <span class="orange-color">48</span>
                          </div>
                          <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Status</th>	
                                <th scope="col">Daily Budget</th>	
                                <th scope="col">Results</th>
                                <th scope="col">Reach</th>	
                                <th scope="col">Spent</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Best Photographer</td>
                                <td><img src="../../../../../assets/dist/images/like.png"></td>
                                <td class="orange-color">Active</td>
                                <td>4500</td>
                                <td>900</td>
                                <td>900</td>
                                <td>900</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Best Photographer</td>
                                <td><img src="../../../../../assets/dist/images/like.png"></td>
                                <td class="orange-color">Active</td>
                                <td>4500</td>
                                <td>900</td>
                                <td>900</td>
                                <td>900</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Best Photographer</td>
                                <td><img src="../../../../../assets/dist/images/like.png"></td>
                                <td class="orange-color">Active</td>
                                <td>4500</td>
                                <td>900</td>
                                <td>900</td>
                                <td>900</td>
                              </tr>
                              <tr>
                                  <th scope="row">4</th>
                                  <td>Best Photographer</td>
                                  <td><img src="../../../../../assets/dist/images/like.png"></td>
                                  <td class="orange-color">Active</td>
                                  <td>4500</td>
                                  <td>900</td>
                                  <td>900</td>
                                  <td>900</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>Best Photographer</td>
                                    <td><img src="../../../../../assets/dist/images/like.png"></td>
                                    <td class="orange-color">Active</td>
                                    <td>4500</td>
                                    <td>900</td>
                                    <td>900</td>
                                    <td>900</td>
                                  </tr>
                                  <tr>
                                      <th scope="row">6</th>
                                      <td>Best Photographer</td>
                                      <td><img src="../../../../../assets/dist/images/like.png"></td>
                                      <td class="orange-color">Active</td>
                                      <td>4500</td>
                                      <td>900</td>
                                      <td>900</td>
                                      <td>900</td>
                                    </tr><tr>
                                        <th scope="row">7</th>
                                        <td>Best Photographer</td>
                                        <td><img src="../../../../../assets/dist/images/like.png"></td>
                                        <td class="orange-color">Active</td>
                                        <td>4500</td>
                                        <td>900</td>
                                        <td>900</td>
                                        <td>900</td>
                                      </tr>
                            </tbody>
                          </table>
                          
                          
                      
    
                   
                
                        </div>        </div>
                   
                  </div>
                </mat-tab>
         
          
         
        </mat-tab-group>
      </mat-card-content>
    </mat-card>



  