<!-- Nav Tabs -->
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-12 col-xs-offset-0 padding-top10">
        <div class="top-boxes padding-top10">
          <img src="../../assets/dist/images/coins.png">
          <span id="text1">TOTAL CAMPAIGNS</span>
          <span class="number" id="text2">123</span>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-12 col-xs-offset-0 padding-top10">
        <div class="top-boxes padding-top10">
          <img src="../../assets/dist/images/coins-2.png">
          <span id="text1">TOTAL SPENT</span>
          <span class="number" id="text2">$456.78</span>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-12 col-xs-offset-0 padding-top10">
        <div class="top-boxes padding-top10">
          <img src="../../assets/dist/images/coins-3.png">
          <span id="text1">TOTAL REACH</span>
          <span class="number" id="text2">21,090</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="table-spacing1 padding-top10" style="width: 100% !important">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#home">Facebook</a>
        </li>
        <li>
          <a data-toggle="tab" href="#menu1">Twitter</a>
        </li>
        <li>
          <a data-toggle="tab" href="#menu2">Surveys</a>
        </li>
        <li>
          <a data-toggle="tab" href="#menu3">Websites</a>
        </li>
        <li>
          <a data-toggle="tab" href="#menu4">Apps</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="home">
          <div class="panel panel-default">
            <div class="panel-heading table-1">
              <img src="../../assets/dist/images/fblogolarge.png">
              <span class="padding-left10">Facebook Engagement -</span>
              <span class="orange-color">48</span>
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table five-col-table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Status</th>
                      <th>Daily Budget</th>
                      <th>Results</th>
                      <th>Reach</th>
                      <th>Spent</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="menu1">
          <div class="panel panel-default">
            <div class="panel-heading table-1">
              <img src="../../assets/dist/images/fblogolarge.png">
              <span class="padding-left10">Facebook Engagement -</span>
              <span class="orange-color">48</span>
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table five-col-table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Status</th>
                      <th>Daily Budget</th>
                      <th>Results</th>
                      <th>Reach</th>
                      <th>Spent</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="menu2">
          <div class="panel panel-default">
            <div class="panel-heading table-1">
              <img src="../../assets/dist/images/fblogolarge.png">
              <span class="padding-left10">Facebook Engagement -</span>
              <span class="orange-color">48</span>
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table five-col-table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Status</th>
                      <th>Daily Budget</th>
                      <th>Results</th>
                      <th>Reach</th>
                      <th>Spent</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="menu3">
          <div class="panel panel-default">
            <div class="panel-heading table-1">
              <img src="../../assets/dist/images/fblogolarge.png">
              <span class="padding-left10">Facebook Engagement -</span>
              <span class="orange-color">48</span>
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table five-col-table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Status</th>
                      <th>Daily Budget</th>
                      <th>Results</th>
                      <th>Reach</th>
                      <th>Spent</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Best Photographer</td>
                      <td>
                        <img src="../../assets/dist/images/like.png">
                      </td>
                      <td class="orange-color">Active</td>
                      <td>4500</td>
                      <td>900</td>
                      <td>900</td>
                      <td>900</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="menu4">
          <div class="panel panel-default">
            <div class="panel-heading table-1">
              <img src="../../assets/dist/images/fblogolarge.png">
              <span class="padding-left10">Facebook Engagement -</span>
              <span class="orange-color">48</span>
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table two-col-table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th class="center-text">Coins Earned</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Best Photographer</td>
                      <td class="orange-color center-text">40</td>
                    </tr>
                    <tr>
                      <td>Best Photographer</td>
                      <td class="orange-color center-text">40</td>
                    </tr>
                    <tr>
                      <td>Best Photographer</td>
                      <td class="orange-color center-text">40</td>
                    </tr>
                    <tr>
                      <td>Best Photographer</td>
                      <td class="orange-color center-text">40</td>
                    </tr>
                    <tr>
                      <td>Best Photographer</td>
                      <td class="orange-color center-text">40</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>