<!-- <div class="contaner"> -->
  <!-- <div class="row"> -->
   
   
          <app-menu></app-menu>
      
  <!-- </div> -->
  


  <div class="col-md-12">
    <div class="ad-dashboard">
      <div class="padding-zero" id="page-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header welcome-text">Welcome Fahad!</h1>
            </div>
          </div>
        </div>
        <div class="main-background-color padding-left30 padding-top10">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-md-offset-0 padding-top10">
                
                  <mat-card>
                      <mat-card-content>
                        <!-- <h2 class="example-h2">Tabs with text labels</h2> -->
                        <mat-tab-group class="demo-tab-group" >
                          <mat-tab label="Active Campaigns-15">
                            <div class="demo-tab-content">

                             <app-active-campaigns></app-active-campaigns>
                             
                            </div>
                          </mat-tab>
                          <mat-tab label="All Campaigns">
                            <div class="demo-tab-content">

                                <app-all-compaigns></app-all-compaigns>
                             
                            </div>  
                          </mat-tab>
                         
                          
                         
                        </mat-tab-group>
                      </mat-card-content>
                    </mat-card>
                    
                  




              </div>
             
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>


<!-- </div> -->