
<div class="col-lg-4 col-md-4 col-sm-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-12 col-xs-offset-0 padding-top10">
    <div class="top-boxes padding-top10">
      <img src="../../assets/dist/images/coins.png">
      <span id="text1">Available Coins</span>
      <span class="number" id="text2">259</span>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-12 col-xs-offset-0 padding-top10">
    <div class="top-boxes padding-top10">
      <img src="../../assets/dist/images/coins-2.png">
      <span id="text1">Coins Earned</span>
      <span class="number" id="text2">$456.78</span>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-12 col-xs-offset-0 padding-top10">
    <div class="top-boxes padding-top10">
      <img src="../../assets/dist/images/coins-3.png">
      <span id="text1">TOTAL REACH</span>
      <span class="number" id="text2">21,090</span>
    </div>
  </div>
  
  