<div class="login-form">
		<div class="main-background-color padding-left30 padding-top10 margin-top-200">
		   <p class="interest">Interest</p>
								   <div class="custom-select-boxes-parent">
											 <div class="custom-select-boxes-child ">
												 <p>Beauty <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Computing <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Books <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Drink <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Education <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Beauty <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Computing <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Books <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Drink <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Education <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Beauty <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Computing <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Books <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Drink <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Education <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Beauty <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Computing <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Books <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Drink <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Education <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Beauty <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Computing <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Books <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Drink <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Education <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Beauty <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Computing <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Books <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Drink <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Education <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Beauty <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Computing <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Books <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Drink <i class="fa fa-plus"></i></p>
											 </div>
											 <div class="custom-select-boxes-child ">
												 <p>Education <i class="fa fa-plus"></i></p>
											 </div>
								   </div>
   
								   
				 </div>
   
					
		  
			 
				
			
				 
			 
		
		 
	 </div>