
<div class="container-fluid">
    <div class="row">
       
    </div>
</div>
 
 
 <div class="create-ac-head">
        <h1 class="well">Account Info<br>
        <h6>Member ID- <span>6572826198</span></h6></h1>
    
</div>
<div class="col-lg-12 well">
  <div class="row">
      <form class="ac-form">
          <div class="col-lg-12">
                <div class="row">

                        <div class="col-lg-12 col-lg-offset-6 col-md-12 col-md-offset-6">
                                <img src="http://placehold.it/180">
                            </div>
                        </div>
                            <div class="row">
                       
                                <div class="col-lg-3 col-lg-offset-6 col-md-6 col-md-offset-6  form-group">
                                <!-- COMPONENT START -->
	<div class="form-group">
           
            <div class="input-group input-file" name="Fichier1">
                <input type="file" class="form-control" placeholder='Choose a file...' />			
                <!-- <span class="input-group-btn">
                    <button class="btn btn-warning btn-choose" type="button">Upload</button>
                </span> -->
    
    
            </div>
           
        </div>
        <!-- COMPONENT END -->  
    </div>

</div>
<div class="row">
                  <div class="col-lg-6 form-group">
                      <label>First Name</label>
                      <input type="text" placeholder="Enter First Name Here.." class="form-control">
                  </div>
                  <div class="col-sm-6 form-group">
                      <label>Last Name</label>
                      <input type="text" placeholder="Enter Last Name Here.." class="form-control">
                  </div>
              </div>
              <div class="form-group">
                  <label>Address</label>
                  <textarea placeholder="Enter Address Here.." rows="3" class="form-control"></textarea>
              </div>
              <div class="row">
                  <div class="col-sm-4 form-group">
                      <label>City</label>
                      <input type="text" placeholder="Enter City Name Here.." class="form-control">
                  </div>
                  <div class="col-sm-4 form-group">
                      <label>State</label>
                      <input type="text" placeholder="Enter State Name Here.." class="form-control">
                  </div>
                  <div class="col-sm-4 form-group">
                      <label>Zip</label>
                      <input type="text" placeholder="Enter Zip Code Here.." class="form-control">
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6 form-group">
                      <label>Title</label>
                      <input type="text" placeholder="Enter Designation Here.." class="form-control">
                  </div>
                  <div class="col-sm-6 form-group">
                      <label>Company</label>
                      <input type="text" placeholder="Enter Company Name Here.." class="form-control">
                  </div>
              </div>
              <div class="form-group">
                  <label>Phone Number</label>
                  <input type="text" placeholder="Enter Phone Number Here.." class="form-control">
              </div>
              <div class="form-group">
                  <label>Email Address</label>
                  <input type="text" placeholder="Enter Email Address Here.." class="form-control">
              </div>
              <div class="form-group">
                  <label>Website</label>
                  <input type="text" placeholder="Enter Website Name Here.." class="form-control">
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-3">Email & Notification Settings</label>
                  <div class="col-sm-9">
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" id="calorieCheckbox" value="Low calorie">Receive news and account statements
                        </label>
                      </div>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" id="saltCheckbox" value="Low salt">Receive exclusive offer and survey earning opportunities
                        </label>
                      </div>
                      <div class="checkbox">
                          <label>
                          <input type="checkbox" id="saltCheckbox" value="Low salt">Receive crediting notification
                      </label>
                      </div>
                  </div>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                  <div class="col-sm-9 col-sm-offset-3">
                      <div class="checkbox">
                          <label>
                            <input type="checkbox">I accept <a href="#">terms</a>
                        </label>
                      </div>
                  </div>
              </div>
              <button type="button" class="btn btn-lg btn-danger">Submit</button>
          </div>
      </form>
  </div>
</div>
